.global-container {
    overflow: hidden;
}

.main-header-paragraph {
    padding-left: 6rem;
    font-size: 1.3rem;
}

.bugs-list-section {
    width: 100%;
}

.bugs-list {
    width: 100%;
}

.list-grid {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid grey;
}

.bugs-list-header {
    border-top: 1px solid grey;
    background-color: rgba(248,250,252);
}

.list-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-name {
    text-align: center;
    color: #64748b;
}

.bug-title {
    margin-bottom: 0.25rem;
}

.bug-state {
    padding: 0 2rem;
}

.bug-state-select {
    width: 100%;
}

.delete-button {
    padding: 0.25rem 1rem;
    color: white;
    background-color: #f44336;
    border: 1px solid black;
}

.column-name, .bug-title, .bug-description, .bug-date, .bug-name, .bug-state-select, .delete-button {
    font-size: 1.25rem;
}