.main-header-paragraph {
    padding-left: 6rem;
    font-size: 1.2rem;
}

.loading-screen {
    padding-top: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-content {
    font-size: 1.75rem;
}

.bugs-list-section {
    display: none;
}

.bugs-list-header {
    background-color: #f8fafc;
}

.list-grid {
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #c9ced4;
}

.list-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-name {
    text-align: center;
    color: #64748b;
}

.bug-title {
    text-align: center;
    margin-bottom: 0.25rem;
}

.bug-state {
    padding: 0 2rem;
}

.bug-state-select {
    width: 100%;
}

.delete-button {
    padding: 0.25rem 1rem;
    color: white;
    background-color: #EA2027;
    border: 1px solid black;
    border-radius: 9999px;
}

.delete-button:hover {
    background-color: #ac181d;
}

.column-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.bug-title, .bug-description, .bug-date, .bug-name, .bug-state-select, .delete-button {
    font-size: 1.1rem;
}

.bug-description {
    width: 10rem;
    max-height: 5rem;
    text-align: center;
    overflow: auto;
}

.pagination-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248,250,252);
    border-top: 1px solid #c9ced4;
}


@media screen and (max-width: 1280px) {

    .main-header-paragraph {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .actions-filter-container {
        padding-bottom: 1rem;
    }

    .list-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .rubrique-date, .rubrique-author, .bug-date, .bug-name {
        display: none;
    }
}

@media screen and (max-width: 640px) {

    .main-title {
        font-size: 1.5rem;
    }

    .main-header-paragraph, .header-actions-filter {
        font-size: 1rem;
    }

    .header-actions {
        width: 70%;
    }

    .header-actions-link, .header-actions-button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    .loading-content {
        font-size: 1.25rem;
    }

    .bugs-list-header {
        position: relative;
    }

    .column-name {
        font-size: 0.9rem;
    }

    .bug-title, .bug-date, .bug-name, .bug-state-select, .delete-button {
        font-size: 0.9rem;
    }

    .bug-description {
        display: none;
    }

    .pagination-container {
        position: relative;
    }
}