.form-section {
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-auth-form {
    width: 30rem;
}

@media screen and (max-width: 768px) {

    .header-actions-filter {
        padding-right: 0;
        padding-bottom: 1rem;
    }
}