.global-container {
    overflow: hidden;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}

.main-header {  
    padding: 1.5rem 2rem; 
}

.main-title {
    font-size: 2rem;
}

.main-header-paragraph {
    padding-left: 6rem;
    font-size: 1.3rem;
}

.header-infos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-actions-filter {
    font-size: 1.3rem;
    padding-right: 2rem;
}

.header-actions-button {
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    color: white;
    border: 1px solid black;
}

.add-button {
    margin-right: 2rem;
    background-color: #3f51b5;
}

.sign-out-button {
    background-color: #f44336;
}